django-notifications-hq~=1.8.2
channels~=3.0.2
immunity-users @ https://github.com/edge-servers/immunity-users/tarball/master
immunity-utils[rest,celery] @ https://github.com/edge-servers/immunity-utils/tarball/master
markdown~=3.4.3
